

* {
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: black;
}

body {
	background-image: linear-gradient(to top right, #034742, #0F666F, #73CACB, #2DADB0, #9AE5B7, #CAC028, #F8F072 );
}

html {
	scroll-behavior: smooth;
}
footer {
	padding: 1rem;
}

footer span {
	margin-left: 1rem;
	margin-right: 1rem;
}

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

.row {
	margin-right: 0px;
	margin-left: 0px;
}

h1 {
	font-family: 'Bebas Neue', cursive;
	font-size: 50px;
}

#landing h1{
	font-size: 50px;
	font-family: 'Bebas Neue', cursive;
}

#landing {
	font-size: 20px;
}

#appointment{
	font-size: 25px;

}